In [150]:
import pandas as pd
import json
import numpy as np
import datetime
import urllib.request
import csv



us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
    "Northern Mariana Islands": 'MP'
}
nyc_counties = ['Bronx County, New York',  'Kings County, New York', 
                'New York County, New York', 'Queens County, New York',
               'Richmond County, New York']

In [151]:
with urllib.request.urlopen("https://api.census.gov/data/2018/acs/acs1?get=NAME,B01001_001E&for=county:*") as url:
    data = json.loads(url.read().decode())

In [152]:
df = pd.DataFrame(data[1:], columns=data[0])
df.head()

                              NAME B01001_001E state county
0     Newport County, Rhode Island       82542    44    005
1  Washington County, Rhode Island      126179    44    009
2    Oconee County, South Carolina       78374    45    073
3          Guadalupe County, Texas      163694    48    187
4     Snohomish County, Washington      814901    53    061

In [155]:
df.loc[df.NAME.apply(lambda x: 'New York' in x)].sort_values(by = 'NAME')

                              NAME B01001_001E state county
391        Albany County, New York      307117    36    001
464         Bronx County, New York     1432132    36    005
681        Broome County, New York      191659    36    007
628   Cattaraugus County, New York       76840    36    009
298        Cayuga County, New York       77145    36    011
752    Chautauqua County, New York      127939    36    013
161       Chemung County, New York       84254    36    015
776       Clinton County, New York       80695    36    019
682      Dutchess County, New York      293718    36    027
184          Erie County, New York      919719    36    029
171     Jefferson County, New York      111755    36    045
299         Kings County, New York     2582830    36    047
278    Livingston County, New York       63227    36    051
422       Madison County, New York       70795    36    053
629        Monroe County, New York      742474    36    055
31         Nassau County, New York     1358343    36    059
777      New York County, New York     1628701    36    061
267       Niagara County, New York      210433    36    063
823        Oneida County, New York      229577    36    065
348      Onondaga County, New York      461809    36    067
144       Ontario County, New York      109864    36    069
32         Orange County, New York      381951    36    071
824        Oswego County, New York      117898    36    075
268        Putnam County, New York       98892    36    079
432        Queens County, New York     2278906    36    081
733    Rensselaer County, New York      159442    36    083
538      Richmond County, New York      476179    36    085
41       Rockland County, New York      325695    36    087
778      Saratoga County, New York      230163    36    091
560   Schenectady County, New York      155350    36    093
514  St. Lawrence County, New York      108047    36    089
713       Steuben County, New York       95796    36    101
279       Suffolk County, New York     1481093    36    103
660      Sullivan County, New York       75498    36    105
814      Tompkins County, New York      102793    36    109
193        Ulster County, New York      178599    36    111
242        Warren County, New York       64265    36    113
452         Wayne County, New York       90064    36    117
215   Westchester County, New York      967612    36    119

In [110]:
dict_county_pop = {}
for i in data[1:]:
    

    dict_county_pop[int(''.join(i[-2:]))] = int(i[-3]) if i[-3] == 'None' else None
dict_county_pop[36999] = sum([dict_county_pop[i] for i in nyc_counties])

In [115]:
df_nytimes_county = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')

In [146]:
df_nytimes_county.loc[df_nytimes_county.fips.isnull()]['county'].unique()

array(['New York City', 'Unknown', 'Kansas City', 'Joplin'], dtype=object)

In [158]:
sorted(df_nytimes_county.loc[(df_nytimes_county.state == 'New York')]['county'].unique())

['Albany',
 'Allegany',
 'Broome',
 'Cattaraugus',
 'Cayuga',
 'Chautauqua',
 'Chemung',
 'Chenango',
 'Clinton',
 'Columbia',
 'Cortland',
 'Delaware',
 'Dutchess',
 'Erie',
 'Essex',
 'Franklin',
 'Fulton',
 'Genesee',
 'Greene',
 'Hamilton',
 'Herkimer',
 'Jefferson',
 'Lewis',
 'Livingston',
 'Madison',
 'Monroe',
 'Montgomery',
 'Nassau',
 'New York City',
 'Niagara',
 'Oneida',
 'Onondaga',
 'Ontario',
 'Orange',
 'Orleans',
 'Oswego',
 'Otsego',
 'Putnam',
 'Rensselaer',
 'Rockland',
 'Saratoga',
 'Schenectady',
 'Schoharie',
 'Schuyler',
 'Seneca',
 'St. Lawrence',
 'Steuben',
 'Suffolk',
 'Sullivan',
 'Tioga',
 'Tompkins',
 'Ulster',
 'Unknown',
 'Warren',
 'Washington',
 'Wayne',
 'Westchester',
 'Wyoming',
 'Yates']

In [ ]:
df = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")[['date', 'state', 'positive', 'negative', 'death']]
df.date = pd.to_datetime(df.date, format='%Y%m%d')

df = df.fillna(0)

In [43]:
state_dict = []

for state in df.state.unique():

    dict_ = df[df.state == state].sort_values('date', ascending= False).to_dict('records')
    period = 7
    for i in range(0, len(dict_)-period):
        pos = sum([dict_[j]['positive'] for j in range(i, i+ period)])
        dict_[i]['change'] = (dict_[i]['positive'] - dict_[i+1]['positive'])
        neg = sum([dict_[j]['negative'] for j in range(i, i+ period)])
        if (neg+ pos) > 0:
            dict_[i]['rate'] = pos/ (neg+ pos)
        else:
            dict_[i]['rate'] = 0
        if state not in ['AS', 'GU', 'MP', 'VI']:
            dict_[i]['test_per_1000'] = (neg+ pos)* 1000/ state_pop_dict[state]   
            state_dict.append(dict_[i])

NameError: name 'df' is not defined

In [ ]:
state_pop_dict[state]

In [ ]:
df = pd.DataFrame(state_dict)

In [ ]:
df.loc[df.date > (datetime.datetime.today() - datetime.timedelta(days=120))][df.state == 'TX'].plot(x = 'date', y = 'death');
df.loc[df.date > (datetime.datetime.today() - datetime.timedelta(days=120))][df.state == 'TX'].plot(x = 'date', y = 'rate');
df.loc[df.date > (datetime.datetime.today() - datetime.timedelta(days=120))][df.state == 'TX'].plot(x = 'date', y = 'change');

In [ ]:
with open('ACSDP5Y2018.DP05_data_with_overlays_2020-06-13T140121.csv') as csvfile:
    reader = csv.reader(csvfile)
    raw_state_total = []
    state_pop_dict = {}
    for row in reader:
      if row[0] != 'GEO_ID':
          if row[0] == 'id':
              row = [i.replace('!!', ' ') for i in row]
              column_name = row  
          else:    
              if row[1] in state_pop_dict.keys():
                  state_pop_dict[us_state_abbrev[row[1]]].append({j:i for i,j in zip(row, column_name)})
              else:
                  state_pop_dict[us_state_abbrev[row[1]]] = [{j:i for i,j in zip(row, column_name)}]
                
"Percent Estimate SEX AND AGE Total population"

In [ ]:
for i in df_county_data['state'].unique():
    if i not in df['Geographic Area Name'].unique():
      print(i)

In [ ]:
for i in df['Geographic Area Name'].unique():
    print(i)